{% extends "main.html" %}
{% load static %}
{% block title %}Kalkulatory{% endblock %}

{% block website_body %}
  <div class="container mt-5">
    <div class="row">
      <!-- Column 1: Przeliczniki danych -->
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header text-center">
        <h2>PRZELICZNIKI DANYCH <i class="fa-solid fa-calculator"></i> </h2>
          </div>
        </div>
        
        <!-- Power Converter Card -->
        <div class="card mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Przelicznik jednostek mocy</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#powerConverter" aria-expanded="false" aria-controls="powerConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="powerConverter">
            <div class="card-body">
              <form id="powerForm">
                <div class="mb-3">
                  <label for="powerNumberInput" class="form-label">Wpisz moc:</label>
                  <input type="number" class="form-control" id="powerNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="unitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="unitSelect" required>
                    <option value="kW">Kilowat (kW)</option>
                    <option value="KM">Konie mechaniczne (KM)</option>
                    <option value="BHP">Brake horsepower (BHP)</option>
                    <option value="HP">Horsepower (HP)</option>
                    <option value="PS">Pferdestärke (PS)</option>
                    <option value="MW">Megawat (MW)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="powerResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="powerResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Speed Converter Card -->
        <div class="card mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Przelicznik jednostek prędkości</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#speedConverter" aria-expanded="false" aria-controls="speedConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="speedConverter">
            <div class="card-body">
              <form id="speedForm">
                <div class="mb-3">
                  <label for="speedNumberInput" class="form-label">Wpisz prędkość:</label>
                  <input type="number" class="form-control" id="speedNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="speedUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="speedUnitSelect" required>
                    <option value="kmh">Kilometry na godzinę (km/h)</option>
                    <option value="mph">Mile na godzinę (mph)</option>
                    <option value="ms">Metry na sekundę (m/s)</option>
                    <option value="fps">Stopy na sekundę (fps)</option>
                    <option value="kn">Węzły (kn)</option>
                    <option value="nmh">Mile morskie na godzinę (nm/h)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="speedResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="speedResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Pressure Converter Card -->
        <div class="card  mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Przelicznik jednostek ciśnienia</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#pressureConverter" aria-expanded="false" aria-controls="pressureConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="pressureConverter">
            <div class="card-body">
              <form id="pressureForm">
                <div class="mb-3">
                  <label for="pressureNumberInput" class="form-label">Wpisz ciśnienie:</label>
                  <input type="number" class="form-control" id="pressureNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="pressureUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="pressureUnitSelect" required>
                    <option value="Pa">Paskale (Pa)</option>
                    <option value="kPa">Kilopaskale (kPa)</option>
                    <option value="MPa">Megapaskale (MPa)</option>
                    <option value="bar">Bary (bar)</option>
                    <option value="atm">Atmosfery techniczne (atm)</option>
                    <option value="at">Atmosfery fizyczne (at)</option>
                    <option value="psi">Funt na cal kwadratowy (psi)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="pressureResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="pressureResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Torque Converter Card -->
        <div class="card mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Przelicznik jednostek momentu obrotowego</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#torqueConverter" aria-expanded="false" aria-controls="torqueConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="torqueConverter">
            <div class="card-body">
              <form id="torqueForm">
                <div class="mb-3">
                  <label for="torqueNumberInput" class="form-label">Wpisz moment obrotowy:</label>
                  <input type="number" class="form-control" id="torqueNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="torqueUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="torqueUnitSelect" required>
                    <option value="Nm">Niutonometr (Nm)</option>
                    <option value="lbft">Funtostopa (lb/ft)</option>
                    <option value="kGm">Kilogramometr (kGm)</option>
                    <option value="J">Dżul (J)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="torqueResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="torqueResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      <!-- Width Converter Card -->
      <div class="card mb-3">
        <div class="card-header text-bg-secondary text-center">
          <h3>Przelicznik jednostek długości</h3>
          <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#lengthConverter" aria-expanded="false" aria-controls="lengthConverter">
            Rozwiń
          </button>
        </div>
        <div class="collapse" id="lengthConverter">
          <div class="card-body">
            <form id="lengthForm">
              <div class="mb-3">
                <label for="lengthNumberInput" class="form-label">Wpisz długość:</label>
                <input type="number" class="form-control" id="lengthNumberInput" required>
              </div>
              <div class="mb-3">
                <label for="lengthUnitSelect" class="form-label">Wybierz jednostkę:</label>
                <select class="form-select" id="lengthUnitSelect" required>
                  <option value="cm">Centymetry (cm)</option>
                  <option value="in">Cale (in)</option>
                  <option value="ft">Stopy (ft)</option>
                </select>
              </div>
              <button type="submit" class="btn btn-warning w-100">Przelicz</button>
            </form>
            <div class="mt-3">
              <h5 id="lengthResultHeader"></h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Ilość</th>
                    <th>Jednostka</th>
                  </tr>
                </thead>
                <tbody id="lengthResultTable">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Column 2: Użytkowanie auta -->
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header text-center">
        <h2>UŻYTKOWANIE AUTA <i class="fa-solid fa-car"></i></h2>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header  text-bg-secondary text-center">
            <h3>Kalkulator czasu podróży</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#travel-time-calculator" aria-expanded="false" aria-controls="travel-time-calculator">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="travel-time-calculator">
            <div class="card-body">
              <form id="travel-time-calculator">
                <div class="mb-3">
                <div class="form-group">
                  <label for="distance">Odległość (km):</label>
                  <input type="number" class="form-control" id="distance" placeholder="Wprowadź odległość w kilometrach" required>
                </div>
                <div class="form-group">
                  <label for="speed1">Średnia prędkość 1 (km/h):</label>
                  <input type="number" class="form-control" id="speed1" placeholder="Wprowadź prędkość w km/h" required>
                </div>
                <div class="form-group">
                  <label for="speed2">Średnia prędkość 2 (km/h) (opcjonalnie):</label>
                  <input type="number" class="form-control" id="speed2" placeholder="Wprowadź prędkość w km/h">
                </div>
                <div class="form-group">
                  <label for="speed3">Średnia prędkość 3 (km/h) (opcjonalnie):</label>
                  <input type="number" class="form-control" id="speed3" placeholder="Wprowadź prędkość w km/h">
                </div>
              </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <h3>Wyniki:</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Opis</th>
                    <th scope="col">Wynik</th>
                  </tr>
                </thead>
                <tbody id="results-table-body-travel-time">
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="card mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Kalkulator średniej prędkości</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#speedCalculator" aria-expanded="false" aria-controls="speedCalculator">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="speedCalculator">
            <div class="card-body">
              <form id="speed-calculator">
                <div class="mb-3">
                <div class="form-group">
                  <label for="distance-speed">Odległość (km):</label>
                  <input type="number" class="form-control" id="distance-speed" placeholder="Wprowadź odległość w kilometrach" required>
                </div>
                <div class="form-group">
                  <label for="travelTimeHours">Czas podróży:</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="travelTimeHours" placeholder="Godziny" required>
                    <span class="input-group-text">godz.</span>
                    <input type="number" class="form-control" id="travelTimeMinutes" placeholder="Minuty" required>
                    <span class="input-group-text">min.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="stopTimeHours">Czas postoju (opcjonalnie):</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="stopTimeHours" placeholder="Godziny">
                    <span class="input-group-text">godz.</span>
                    <input type="number" class="form-control" id="stopTimeMinutes" placeholder="Minuty">
                    <span class="input-group-text">min.</span>
                  </div>
                </div>
              </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <h3>Wyniki:</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Opis</th>
                    <th scope="col">Wynik</th>
                  </tr>
                </thead>
                <tbody id="results-table-body-speed">
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header text-bg-secondary text-center">
            <h3>Kalkulator średniego zużycia paliwa</h3>
            <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#fuelCalculator" aria-expanded="false" aria-controls="fuelCalculator">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="fuelCalculator">
            <div class="card-body">
              <div class="mb-3">
              <form id="fuel-calculator">
                <div class="form-group">
                  <label for="price">Cena paliwa:</label>
                  <div class="input-group">
                    <input type="number" min="0.01" step="0.01" class="form-control" id="price" placeholder="Wprowadź cenę paliwa" required>
                    <select class="form-select" id="currency" required>
                      <option value="PLN">PLN</option>
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <!-- Dodaj inne najpopularniejsze waluty -->
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="distance-fuel">Przejechane kilometry (km):</label>
                  <input type="number" min="1" class="form-control" id="distance-fuel" placeholder="Wprowadź przejechaną odległość w km" required>
                </div>
                <div class="form-group">
                  <label for="fuel">Ilość paliwa (l):</label>
                  <input type="number" min="0.01" step="0.01" class="form-control" id="fuel" placeholder="Wprowadź zużytą ilość paliwa w litrach" required>
                </div>
              </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <h3>Wyniki:</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Opis</th>
                    <th scope="col">Wynik</th>
                  </tr>
                </thead>
                <tbody id="results-table-body-fuel">
                </tbody>
              </table>
            </div>
          </div>
        </div>
<!-- Kalkulator kosztów spalania -->
<div class="card mb-3">
  <div class="card-header text-bg-secondary text-center">
      <h3>Kalkulator kosztów spalania</h3>
      <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#fuelCostCalculator" aria-expanded="false" aria-controls="fuelCostCalculator">
          Rozwiń
      </button>
  </div>
  <div class="collapse" id="fuelCostCalculator">
      <div class="card-body">
        <div class="mb-3">
          <form id="fuel-cost-calculator">
              <div class="form-group">
                  <label for="tripDistance">Długość trasy (km):</label>
                  <input type="number" class="form-control" id="tripDistance" placeholder="Wprowadź długość trasy w kilometrach" required>
              </div>
              <div class="form-group">
                  <label for="fuelConsumption">Średnie spalanie paliwa (l/100km):</label>
                  <input type="number" min="0.1" step="0.1" class="form-control" id="fuelConsumption" placeholder="Wprowadź średnie spalanie paliwa" required>
              </div>
              <div class="form-group">
                  <label for="fuelPrice">Cena za litr paliwa (zł):</label>
                  <input type="number" min="0.01" step="0.01" class="form-control" id="fuelPrice" placeholder="Wprowadź cenę za litr paliwa" required>
              </div>
            </div>
              <button type="submit" class="btn btn-warning w-100">Przelicz</button>
          </form>
          <h3>Wyniki:</h3>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Opis</th>
                      <th scope="col">Wynik</th>
                  </tr>
              </thead>
              <tbody id="results-table-body-fuel-cost">
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- Kalkulator opłacalności montażu instalacji LPG -->
<div class="card mb-3">
  <div class="card-header text-bg-secondary text-center">
      <h3>Kalkulator opłacalności montażu instalacji LPG</h3>
      <button class="btn btn-warning w-50" type="button" data-bs-toggle="collapse" data-bs-target="#lpgCalculator" aria-expanded="false" aria-controls="lpgCalculator">
          Rozwiń
      </button>
  </div>
  <div class="collapse" id="lpgCalculator">
      <div class="card-body">
        <div class="mb-3">
          <form id="lpg-cost-calculator">
              <div class="form-group">
                  <label for="petrolPrice">Cena benzyny (zł/l):</label>
                  <input type="number" min="0.01" step="0.01" class="form-control" id="petrolPrice" placeholder="Wprowadź cenę benzyny" required>
              </div>
              <div class="form-group">
                  <label for="lpgPrice">Cena LPG (zł/l):</label>
                  <input type="number" min="0.01" step="0.01" class="form-control" id="lpgPrice" placeholder="Wprowadź cenę LPG" required>
              </div>
              <div class="form-group">
                  <label for="monthlyMileage">Średni miesięczny przebieg (km):</label>
                  <input type="number" class="form-control" id="monthlyMileage" placeholder="Wprowadź średni miesięczny przebieg" required>
              </div>
              <div class="form-group">
                  <label for="petrolConsumption">Średnie zużycie benzyny (l/100km):</label>
                  <input type="number" min="0.1" step="0.1" class="form-control" id="petrolConsumption" placeholder="Wprowadź średnie zużycie benzyny" required>
              </div>
              <div class="form-group">
                  <label for="lpgConsumptionIncrease">Średnie zużycie LPG większe o (%) :</label>
                  <input type="number" class="form-control" id="lpgConsumptionIncrease" placeholder="Wprowadź procentowe zwiększenie zużycia LPG" required>
              </div>
              <div class="form-group">
                  <label for="installationCost">Koszt montażu instalacji LPG (zł):</label>
                  <input type="number" class="form-control" id="installationCost" placeholder="Wprowadź koszt montażu instalacji LPG" required>
              </div>
            </div>
              <button type="submit" class="btn btn-warning w-100">Przelicz</button>
          </form>
          <h3>Wyniki:</h3>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Opis</th>
                      <th scope="col">Wynik</th>
                  </tr>
              </thead>
              <tbody id="results-table-body-lpg-cost">
              </tbody>
          </table>
      </div>
  </div>
</div>


<script>
  document.getElementById('powerForm').addEventListener('submit', function(event) {
    event.preventDefault();
  
    const number = parseFloat(document.getElementById('powerNumberInput').value);
    const unit = document.getElementById('unitSelect').value;
  
    // Konwersje na kW (kilowaty)
    let powerInKW;
    switch(unit) {
      case 'kW':
        powerInKW = number;
        break;
      case 'KM':
        powerInKW = number * 0.73549875;
        break;
      case 'BHP':
        powerInKW = number * 0.745699872;
        break;
      case 'HP':
        powerInKW = number * 0.745699872;
        break;
      case 'PS':
        powerInKW = number * 0.73549875;
        break;
      case 'MW':
        powerInKW = number * 1000;
        break;
    }
  
    // Konwersje z kW na inne jednostki
    const results = [
      { value: powerInKW.toFixed(2), unit: 'kW', fullUnit: 'Kilowat' },
      { value: (powerInKW / 0.73549875).toFixed(2), unit: 'KM', fullUnit: 'Konie mechaniczne' },
      { value: (powerInKW / 0.745699872).toFixed(2), unit: 'BHP', fullUnit: 'Brake horsepower' },
      { value: (powerInKW / 0.745699872).toFixed(2), unit: 'HP', fullUnit: 'Horsepower' },
      { value: (powerInKW / 0.73549875).toFixed(2), unit: 'PS', fullUnit: 'Pferdestärke' },
      { value: (powerInKW / 1000).toFixed(2), unit: 'MW', fullUnit: 'Megawat' }
    ];
  
    // Ustawienie nagłówka wyniku
    const resultHeader = `Moc ${number} ${unit} jest równa:`;
    document.getElementById('powerResultHeader').innerText = resultHeader;
  
    // Wypełnienie tabeli wyników
    const resultTable = document.getElementById('powerResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
  
  document.getElementById('speedForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('speedNumberInput').value);
    const unit = document.getElementById('speedUnitSelect').value;

    let speedInMS;
    switch(unit) {
      case 'kmh':
        speedInMS = number / 3.6;
        break;
      case 'mph':
        speedInMS = number * 0.44704;
        break;
      case 'ms':
        speedInMS = number;
        break;
      case 'fps':
        speedInMS = number * 0.3048;
        break;
      case 'kn':
      case 'nmh':
      speedInMS = number * 0.514444;
      break;
    default:
      alert('Nieznana jednostka');
      return;
  }

  const results = [
    { value: (speedInMS * 3.6).toFixed(2), unit: 'km/h', fullUnit: 'Kilometry na godzinę' },
    { value: (speedInMS / 0.44704).toFixed(2), unit: 'mph', fullUnit: 'Mile na godzinę' },
    { value: speedInMS.toFixed(2), unit: 'm/s', fullUnit: 'Metry na sekundę' },
    { value: (speedInMS / 0.3048).toFixed(2), unit: 'fps', fullUnit: 'Stopy na sekundę' },
    { value: (speedInMS / 0.514444).toFixed(2), unit: 'kn', fullUnit: 'Węzły' },
    { value: (speedInMS / 0.514444).toFixed(2), unit: 'nm/h', fullUnit: 'Mile morskie na godzinę' }
  ];

  const resultHeader = `Prędkość ${number} ${unit} jest równa:`;
  document.getElementById('speedResultHeader').innerText = resultHeader;

  const resultTable = document.getElementById('speedResultTable');
  resultTable.innerHTML = '';
  results.forEach(result => {
    const row = document.createElement('tr');
    const cellValue = document.createElement('td');
    const cellUnit = document.createElement('td');
    cellValue.innerText = result.value;
    cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
    row.appendChild(cellValue);
    row.appendChild(cellUnit);
    resultTable.appendChild(row);
  });
});
 document.getElementById('pressureForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('pressureNumberInput').value);
    const unit = document.getElementById('pressureUnitSelect').value;

    // Konwersje na Pa (paskale)
    let pressureInPa;
    switch(unit) {
      case 'Pa':
        pressureInPa = number;
        break;
      case 'kPa':
        pressureInPa = number * 1000;
        break;
      case 'MPa':
        pressureInPa = number * 1000000;
        break;
      case 'atm':
        pressureInPa = number * 101325;
        break;
      case 'at':
        pressureInPa = number * 98066.5;
        break;
      case 'bar':
        pressureInPa = number * 100000;
        break;
      case 'psi':
        pressureInPa = number * 6894.76;
        break;
      default:
        alert('Nieznana jednostka');
        return;
    }

    const results = [
      { value: pressureInPa.toFixed(2), unit: 'Pa', fullUnit: 'Paskal' },
      { value: (pressureInPa / 1000).toFixed(2), unit: 'kPa', fullUnit: 'Kilopaskal' },
      { value: (pressureInPa / 1000000).toFixed(2), unit: 'MPa', fullUnit: 'Megapaskal' },
      { value: (pressureInPa / 101325).toFixed(2), unit: 'atm', fullUnit: 'Atmosfera techniczna' },
      { value: (pressureInPa / 98066.5).toFixed(2), unit: 'at', fullUnit: 'Atmosfera fizyczna' },
      { value: (pressureInPa / 100000).toFixed(2), unit: 'bar', fullUnit: 'Bar' },
      { value: (pressureInPa / 6894.76).toFixed(2), unit: 'psi', fullUnit: 'Funt na cal kwadratowy' }
    ];

    const resultHeader = `Ciśnienie ${number} ${unit} jest równe:`;
    document.getElementById('pressureResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('pressureResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
document.getElementById('torqueForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('torqueNumberInput').value);
    const unit = document.getElementById('torqueUnitSelect').value;

    // Konwersje na Nm (Newtonometry)
    let torqueInNm;
    switch(unit) {
      case 'Nm':
        torqueInNm = number;
        break;
      case 'lbft':
        torqueInNm = number * 1.35582;
        break;
      case 'kGm':
        torqueInNm = number * 9.80665;
        break;
      case 'J':
        torqueInNm = number;
        break;
      default:
        alert('Nieznana jednostka');
        return;
    }

    const results = [
      { value: torqueInNm.toFixed(2), unit: 'Nm', fullUnit: 'Newtonometry' },
      { value: (torqueInNm / 1.35582).toFixed(2), unit: 'lb/ft', fullUnit: 'Funt-stopy' },
      { value: (torqueInNm / 9.80665).toFixed(2), unit: 'kGm', fullUnit: 'Kilogramometry' },
      { value: torqueInNm.toFixed(2), unit: 'J', fullUnit: 'Dżule' }
    ];

    const resultHeader = `Moment obrotowy ${number} ${unit} jest równy:`;
    document.getElementById('torqueResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('torqueResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
  document.getElementById('lengthForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('lengthNumberInput').value);
    const unit = document.getElementById('lengthUnitSelect').value;

    let lengthInCm;
    switch(unit) {
      case 'cm':
        lengthInCm = number;
        break;
      case 'in':
        lengthInCm = number * 2.54;
        break;
      case 'ft':
        lengthInCm = number * 30.48;
        break;
    }

    const results = [
      { value: lengthInCm.toFixed(2), unit: 'cm', fullUnit: 'Centymetry' },
      { value: (lengthInCm / 2.54).toFixed(2), unit: 'in', fullUnit: 'Cale' },
      { value: (lengthInCm / 30.48).toFixed(2), unit: 'ft', fullUnit: 'Stopy' }
    ];

    const resultHeader = `Długość ${number} ${unit} jest równa:`;
    document.getElementById('lengthResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('lengthResultTable');
    resultTable.innerHTML = '';
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
  document.getElementById('travel-time-calculator').addEventListener('submit', function(event) {
    event.preventDefault();
    const distance = parseFloat(document.getElementById('distance').value);
    const speed1 = parseFloat(document.getElementById('speed1').value);
    const speed2 = parseFloat(document.getElementById('speed2').value);
    const speed3 = parseFloat(document.getElementById('speed3').value);

    let results = [];

    if (!isNaN(distance) && !isNaN(speed1) && speed1 > 0) {
        const time1 = distance / speed1;
        results.push({ speed: speed1, time: formatTime(time1) });
    }

    if (!isNaN(distance) && !isNaN(speed2) && speed2 > 0) {
        const time2 = distance / speed2;
        results.push({ speed: speed2, time: formatTime(time2) });
    }

    if (!isNaN(distance) && !isNaN(speed3) && speed3 > 0) {
        const time3 = distance / speed3;
        results.push({ speed: speed3, time: formatTime(time3) });
    }

    const resultsTableBody = document.getElementById('results-table-body-travel-time');
    resultsTableBody.innerHTML = '';

    results.forEach(result => {
        const row = document.createElement('tr');
        const speedCell = document.createElement('td');
        const timeCell = document.createElement('td');
        speedCell.textContent = `Przy prędkości ${result.speed} km/h`;
        timeCell.textContent = result.time;
        row.appendChild(speedCell);
        row.appendChild(timeCell);
        resultsTableBody.appendChild(row);
    });
});
function formatTime(hours) {
  const totalSeconds = hours * 3600;
  const hrs = Math.floor(totalSeconds / 3600);
  const mins = Math.floor((totalSeconds % 3600) / 60);
  const secs = Math.floor(totalSeconds % 60);
  return `${hrs} godz. ${mins} min. ${secs} s.`;
}
document.getElementById('speed-calculator').addEventListener('submit', function(event) {
  event.preventDefault();
  const distance = parseFloat(document.getElementById('distance-speed').value);
  const travelTimeHours = parseFloat(document.getElementById('travelTimeHours').value) || 0;
  const travelTimeMinutes = parseFloat(document.getElementById('travelTimeMinutes').value) || 0;
  const stopTimeHours = parseFloat(document.getElementById('stopTimeHours').value) || 0;
  const stopTimeMinutes = parseFloat(document.getElementById('stopTimeMinutes').value) || 0;

  const travelTime = travelTimeHours + (travelTimeMinutes / 60);
  const stopTime = stopTimeHours + (stopTimeMinutes / 60);

  if (!isNaN(distance) && !isNaN(travelTime) && travelTime > 0) {
      const totalTime = travelTime + stopTime;
      const averageSpeed = distance / totalTime;

      const resultsTableBody = document.getElementById('results-table-body-speed');
      resultsTableBody.innerHTML = '';

      const resultRow1 = document.createElement('tr');
      const descriptionCell1 = document.createElement('td');
      const valueCell1 = document.createElement('td');
      descriptionCell1.textContent = 'Średnia prędkość uwzględniając czas postoju';
      valueCell1.textContent = `${averageSpeed.toFixed(2)} km/h`;
      resultRow1.appendChild(descriptionCell1);
      resultRow1.appendChild(valueCell1);

      resultsTableBody.appendChild(resultRow1);

      if (stopTime > 0) {
          const actualTravelSpeed = distance / travelTime;

          const resultRow2 = document.createElement('tr');
          const descriptionCell2 = document.createElement('td');
          const valueCell2 = document.createElement('td');
          descriptionCell2.textContent = 'Średnia prędkość bez uwzględniania czasu postoju';
          valueCell2.textContent = `${actualTravelSpeed.toFixed(2)} km/h`;
          resultRow2.appendChild(descriptionCell2);
          resultRow2.appendChild(valueCell2);

          resultsTableBody.appendChild(resultRow2);
      }
  }
});
document.addEventListener('DOMContentLoaded', function() {
  const form = document.getElementById('fuel-calculator');
  const resultsTableBody = document.getElementById('results-table-body-fuel');

  form.addEventListener('submit', function(event) {
    event.preventDefault();

    // Pobierz dane z formularza
    const price = parseFloat(document.getElementById('price').value);
    const currency = document.getElementById('currency').value;
    const distance = parseFloat(document.getElementById('distance-fuel').value);
    const fuel = parseFloat(document.getElementById('fuel').value);

    console.log('Przejechane kilometry (po pobraniu z formularza):', distance);
    console.log('Cena paliwa:', price);
    console.log('Przejechane kilometry:', distance);
    console.log('Ilość paliwa:', fuel);
    // Oblicz średnie zużycie paliwa na 100 km
    const consumption = (fuel / distance) * 100;

    // Oblicz koszt spalonego paliwa
    const fuelCost = price * fuel;

    // Oblicz koszt przejechania 1 km
    const costPerKm = fuelCost / distance;

    // Wyświetl wyniki w tabeli
    resultsTableBody.innerHTML = `
      <tr>
        <td>Średnie zużycie paliwa na 100 km:</td>
        <td>${consumption.toFixed(2)} L/100km</td>
      </tr>
      <tr>
        <td>Koszt spalonego paliwa:</td>
        <td>${fuelCost.toFixed(2)} ${currency}</td>
      </tr>
      <tr>
        <td>Koszt przejechania 1 km:</td>
        <td>${costPerKm.toFixed(2)} ${currency}/km</td>
      </tr>
    `;
  });
});
// Kalkulator kosztów spalania
document.getElementById('fuel-cost-calculator').addEventListener('submit', function(event) {
  event.preventDefault();
  const tripDistance = parseFloat(document.getElementById('tripDistance').value);
  const fuelConsumption = parseFloat(document.getElementById('fuelConsumption').value).toFixed(2);
  const fuelPrice = parseFloat(document.getElementById('fuelPrice').value).toFixed(2);

  const fuelUsed = (tripDistance * fuelConsumption) / 100;
  const cost = fuelUsed * fuelPrice;

  const resultsTableBody = document.getElementById('results-table-body-fuel-cost');
  resultsTableBody.innerHTML = `
      <tr><td>Koszt spalania na odcinku ${tripDistance} km</td><td>${cost.toFixed(2)} zł</td></tr>
  `;
});

// Kalkulator opłacalności montażu instalacji LPG
document.getElementById('lpg-cost-calculator').addEventListener('submit', function(event) {
  event.preventDefault();
  const petrolPrice = parseFloat(document.getElementById('petrolPrice').value).toFixed(2);
  const lpgPrice = parseFloat(document.getElementById('lpgPrice').value).toFixed(2);
  const monthlyMileage = parseFloat(document.getElementById('monthlyMileage').value);
  const petrolConsumption = parseFloat(document.getElementById('petrolConsumption').value).toFixed(2);
  const lpgConsumptionIncrease = parseFloat(document.getElementById('lpgConsumptionIncrease').value).toFixed(2);
  const installationCost = parseFloat(document.getElementById('installationCost').value).toFixed(2);

  const petrolCostPer100km = petrolPrice * petrolConsumption;
  const lpgConsumption = petrolConsumption * (1 + (lpgConsumptionIncrease / 100));
  const lpgCostPer100km = lpgConsumption * lpgPrice;
  const savingsPer100km = petrolCostPer100km - lpgCostPer100km;
  const monthlySavings = savingsPer100km * (monthlyMileage / 100);
  const breakEvenDistance = (installationCost / savingsPer100km) * 100;

  const resultsTableBody = document.getElementById('results-table-body-lpg-cost');
  resultsTableBody.innerHTML = `
      <tr><td>Koszt pokonania 100 km na benzynie</td><td>${petrolCostPer100km.toFixed(2)} zł</td></tr>
      <tr><td>Koszt pokonania 100 km na LPG</td><td>${lpgCostPer100km.toFixed(2)} zł</td></tr>
      <tr><td>Oszczędność na 100 km</td><td>${savingsPer100km.toFixed(2)} zł</td></tr>
      <tr><td>Oszczędność miesięczna</td><td>${monthlySavings.toFixed(2)} zł</td></tr>
      <tr><td>Zwrot kosztów instalacji po</td><td>${breakEvenDistance.toFixed(2)} km</td></tr>
  `;
});
</script>

{% endblock %}