{% extends "main.html" %}
{% load static %}
{% block title %}Kalkulatory{% endblock %}

{% block website_body %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home_page' %}"><button type="button" class="btn btn-dark"><img src="{% static 'img/logo.png' %}" alt="HOME" class="img-fluid" style="max-width: 100px;"></button></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cars_base' %}"><button type="button" class="btn btn-light">BAZA AUT</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calculators' %}"><button type="button" class="btn btn-light">KALKULATORY</button></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href=""><button type="button" class="btn btn-light">ZALOGUJ</button></a>
          </li>
            </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <!-- Column 1: Przeliczniki danych -->
      <div class="col-md-6">
        <h2>Przeliczniki danych</h2>
        
        <!-- Power Converter Card -->
        <div class="card mb-3">
          <div class="card-header">
            <h3>Przelicznik jednostek mocy</h3>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#powerConverter" aria-expanded="false" aria-controls="powerConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="powerConverter">
            <div class="card-body">
              <form id="powerForm">
                <div class="mb-3">
                  <label for="numberInput" class="form-label">Wpisz moc:</label>
                  <input type="number" class="form-control" id="numberInput" required>
                </div>
                <div class="mb-3">
                  <label for="unitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="unitSelect" required>
                    <option value="kW">Kilowat (kW)</option>
                    <option value="KM">Konie mechaniczne (KM)</option>
                    <option value="BHP">Brake horsepower (BHP)</option>
                    <option value="HP">Horsepower (HP)</option>
                    <option value="PS">Pferdestärke (PS)</option>
                    <option value="MW">Megawat (MW)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="result-header"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="result-table">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Speed Converter Card -->
        <div class="card mb-3">
          <div class="card-header">
            <h3>Kalkulator prędkości</h3>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#speedConverter" aria-expanded="false" aria-controls="speedConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="speedConverter">
            <div class="card-body">
              <form id="speedForm">
                <div class="mb-3">
                  <label for="speedNumberInput" class="form-label">Wpisz prędkość:</label>
                  <input type="number" class="form-control" id="speedNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="speedUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="speedUnitSelect" required>
                    <option value="kmh">Kilometry na godzinę (km/h)</option>
                    <option value="mph">Mile na godzinę (mph)</option>
                    <option value="ms">Metry na sekundę (m/s)</option>
                    <option value="fps">Stopy na sekundę (fps)</option>
                    <option value="kn">Węzły (kn)</option>
                    <option value="nmh">Mile morskie na godzinę (nm/h)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="speedResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="speedResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Pressure Converter Card -->
        <div class="card mb-3">
          <div class="card-header">
            <h3>Kalkulator ciśnienia</h3>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pressureConverter" aria-expanded="false" aria-controls="pressureConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="pressureConverter">
            <div class="card-body">
              <form id="pressureForm">
                <div class="mb-3">
                  <label for="pressureNumberInput" class="form-label">Wpisz ciśnienie:</label>
                  <input type="number" class="form-control" id="pressureNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="pressureUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="pressureUnitSelect" required>
                    <option value="Pa">Paskale (Pa)</option>
                    <option value="kPa">Kilopaskale (kPa)</option>
                    <option value="MPa">Megapaskale (MPa)</option>
                    <option value="bar">Bary (bar)</option>
                    <option value="atm">Atmosfery techniczne (atm)</option>
                    <option value="at">Atmosfery fizyczne (at)</option>
                    <option value="psi">Funt na cal kwadratowy (psi)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="pressureResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="pressureResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Torque Converter Card -->
        <div class="card mb-3">
          <div class="card-header">
            <h3>Kalkulator momentu obrotowego</h3>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#torqueConverter" aria-expanded="false" aria-controls="torqueConverter">
              Rozwiń
            </button>
          </div>
          <div class="collapse" id="torqueConverter">
            <div class="card-body">
              <form id="torqueForm">
                <div class="mb-3">
                  <label for="torqueNumberInput" class="form-label">Wpisz moment obrotowy:</label>
                  <input type="number" class="form-control" id="torqueNumberInput" required>
                </div>
                <div class="mb-3">
                  <label for="torqueUnitSelect" class="form-label">Wybierz jednostkę:</label>
                  <select class="form-select" id="torqueUnitSelect" required>
                    <option value="Nm">Niutonometr (Nm)</option>
                    <option value="lbft">Funtostopa (lb/ft)</option>
                    <option value="kGm">Kilogramometr (kGm)</option>
                    <option value="J">Dżul (J)</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Przelicz</button>
              </form>
              <div class="mt-3">
                <h5 id="torqueResultHeader"></h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ilość</th>
                      <th>Jednostka</th>
                    </tr>
                  </thead>
                  <tbody id="torqueResultTable">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      <!-- Width Converter Card -->
      <div class="card mb-3">
        <div class="card-header">
          <h3>Kalkulator długości</h3>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#lengthConverter" aria-expanded="false" aria-controls="lengthConverter">
            Rozwiń
          </button>
        </div>
        <div class="collapse" id="lengthConverter">
          <div class="card-body">
            <form id="lengthForm">
              <div class="mb-3">
                <label for="lengthNumberInput" class="form-label">Wpisz długość:</label>
                <input type="number" class="form-control" id="lengthNumberInput" required>
              </div>
              <div class="mb-3">
                <label for="lengthUnitSelect" class="form-label">Wybierz jednostkę:</label>
                <select class="form-select" id="lengthUnitSelect" required>
                  <option value="cm">Centymetry (cm)</option>
                  <option value="in">Cale (in)</option>
                  <option value="ft">Stopy (ft)</option>
                </select>
              </div>
              <button type="submit" class="btn btn-warning w-100">Przelicz</button>
            </form>
            <div class="mt-3">
              <h5 id="lengthResultHeader"></h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Ilość</th>
                    <th>Jednostka</th>
                  </tr>
                </thead>
                <tbody id="lengthResultTable">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Column 2: Użytkowanie auta -->
      <div class="col-md-6">
        <h2>Użytkowanie auta</h2>
        <!-- Your content for this column goes here -->
      </div>
    </div>
  </div>

<script>
  document.getElementById('powerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('powerNumberInput').value);
    const unit = document.getElementById('powerUnitSelect').value;

    // Konwersje na kW (kilowaty)
    let powerInKW;
    switch(unit) {
      case 'kW':
        powerInKW = number;
        break;
      case 'KM':
        powerInKW = number * 0.73549875;
        break;
      case 'BHP':
        powerInKW = number * 0.745699872;
        break;
      case 'HP':
        powerInKW = number * 0.745699872;
        break;
      case 'PS':
        powerInKW = number * 0.73549875;
        break;
      case 'MW':
        powerInKW = number * 1000;
        break;
    }

    // Konwersje z kW na inne jednostki
    const results = [
      { value: powerInKW.toFixed(2), unit: 'kW', fullUnit: 'Kilowat' },
      { value: (powerInKW / 0.73549875).toFixed(2), unit: 'KM', fullUnit: 'Konie mechaniczne' },
      { value: (powerInKW / 0.745699872).toFixed(2), unit: 'BHP', fullUnit: 'Brake horsepower' },
      { value: (powerInKW / 0.745699872).toFixed(2), unit: 'HP', fullUnit: 'Horsepower' },
      { value: (powerInKW / 0.73549875).toFixed(2), unit: 'PS', fullUnit: 'Pferdestärke' },
      { value: (powerInKW / 1000).toFixed(2), unit: 'MW', fullUnit: 'Megawat' }
    ];

    // Ustawienie nagłówka wyniku
    const resultHeader = `Moc ${number} ${unit} jest równa:`;
    document.getElementById('powerResultHeader').innerText = resultHeader;

    // Wypełnienie tabeli wyników
    const resultTable = document.getElementById('powerResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });

  document.getElementById('speedForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('speedNumberInput').value);
    const unit = document.getElementById('speedUnitSelect').value;

    let speedInMS;
    switch(unit) {
      case 'kmh':
        speedInMS = number / 3.6;
        break;
      case 'mph':
        speedInMS = number * 0.44704;
        break;
      case 'ms':
        speedInMS = number;
        break;
      case 'fps':
        speedInMS = number * 0.3048;
        break;
      case 'kn':
      case 'nmh':
      speedInMS = number * 0.514444;
      break;
    default:
      alert('Nieznana jednostka');
      return;
  }

  const results = [
    { value: (speedInMS * 3.6).toFixed(2), unit: 'km/h', fullUnit: 'Kilometry na godzinę' },
    { value: (speedInMS / 0.44704).toFixed(2), unit: 'mph', fullUnit: 'Mile na godzinę' },
    { value: speedInMS.toFixed(2), unit: 'm/s', fullUnit: 'Metry na sekundę' },
    { value: (speedInMS / 0.3048).toFixed(2), unit: 'fps', fullUnit: 'Stopy na sekundę' },
    { value: (speedInMS / 0.514444).toFixed(2), unit: 'kn', fullUnit: 'Węzły' },
    { value: (speedInMS / 0.514444).toFixed(2), unit: 'nm/h', fullUnit: 'Mile morskie na godzinę' }
  ];

  const resultHeader = `Prędkość ${number} ${unit} jest równa:`;
  document.getElementById('speedResultHeader').innerText = resultHeader;

  const resultTable = document.getElementById('speedResultTable');
  resultTable.innerHTML = '';
  results.forEach(result => {
    const row = document.createElement('tr');
    const cellValue = document.createElement('td');
    const cellUnit = document.createElement('td');
    cellValue.innerText = result.value;
    cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
    row.appendChild(cellValue);
    row.appendChild(cellUnit);
    resultTable.appendChild(row);
  });
});
 document.getElementById('pressureForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('pressureNumberInput').value);
    const unit = document.getElementById('pressureUnitSelect').value;

    // Konwersje na Pa (paskale)
    let pressureInPa;
    switch(unit) {
      case 'Pa':
        pressureInPa = number;
        break;
      case 'kPa':
        pressureInPa = number * 1000;
        break;
      case 'MPa':
        pressureInPa = number * 1000000;
        break;
      case 'atm':
        pressureInPa = number * 101325;
        break;
      case 'at':
        pressureInPa = number * 98066.5;
        break;
      case 'bar':
        pressureInPa = number * 100000;
        break;
      case 'psi':
        pressureInPa = number * 6894.76;
        break;
      default:
        alert('Nieznana jednostka');
        return;
    }

    const results = [
      { value: pressureInPa.toFixed(2), unit: 'Pa', fullUnit: 'Paskal' },
      { value: (pressureInPa / 1000).toFixed(2), unit: 'kPa', fullUnit: 'Kilopaskal' },
      { value: (pressureInPa / 1000000).toFixed(2), unit: 'MPa', fullUnit: 'Megapaskal' },
      { value: (pressureInPa / 101325).toFixed(2), unit: 'atm', fullUnit: 'Atmosfera techniczna' },
      { value: (pressureInPa / 98066.5).toFixed(2), unit: 'at', fullUnit: 'Atmosfera fizyczna' },
      { value: (pressureInPa / 100000).toFixed(2), unit: 'bar', fullUnit: 'Bar' },
      { value: (pressureInPa / 6894.76).toFixed(2), unit: 'psi', fullUnit: 'Funt na cal kwadratowy' }
    ];

    const resultHeader = `Ciśnienie ${number} ${unit} jest równe:`;
    document.getElementById('pressureResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('pressureResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
document.getElementById('torqueForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('torqueNumberInput').value);
    const unit = document.getElementById('torqueUnitSelect').value;

    // Konwersje na Nm (Newtonometry)
    let torqueInNm;
    switch(unit) {
      case 'Nm':
        torqueInNm = number;
        break;
      case 'lbft':
        torqueInNm = number * 1.35582;
        break;
      case 'kGm':
        torqueInNm = number * 9.80665;
        break;
      case 'J':
        torqueInNm = number;
        break;
      default:
        alert('Nieznana jednostka');
        return;
    }

    const results = [
      { value: torqueInNm.toFixed(2), unit: 'Nm', fullUnit: 'Newtonometry' },
      { value: (torqueInNm / 1.35582).toFixed(2), unit: 'lb/ft', fullUnit: 'Funt-stopy' },
      { value: (torqueInNm / 9.80665).toFixed(2), unit: 'kGm', fullUnit: 'Kilogramometry' },
      { value: torqueInNm.toFixed(2), unit: 'J', fullUnit: 'Dżule' }
    ];

    const resultHeader = `Moment obrotowy ${number} ${unit} jest równy:`;
    document.getElementById('torqueResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('torqueResultTable');
    resultTable.innerHTML = ''; // Wyczyść tabelę wyników
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
  document.getElementById('lengthForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const number = parseFloat(document.getElementById('lengthNumberInput').value);
    const unit = document.getElementById('lengthUnitSelect').value;

    let lengthInCm;
    switch(unit) {
      case 'cm':
        lengthInCm = number;
        break;
      case 'in':
        lengthInCm = number * 2.54;
        break;
      case 'ft':
        lengthInCm = number * 30.48;
        break;
    }

    const results = [
      { value: lengthInCm.toFixed(2), unit: 'cm', fullUnit: 'Centymetry' },
      { value: (lengthInCm / 2.54).toFixed(2), unit: 'in', fullUnit: 'Cale' },
      { value: (lengthInCm / 30.48).toFixed(2), unit: 'ft', fullUnit: 'Stopy' }
    ];

    const resultHeader = `Długość ${number} ${unit} jest równa:`;
    document.getElementById('lengthResultHeader').innerText = resultHeader;

    const resultTable = document.getElementById('lengthResultTable');
    resultTable.innerHTML = '';
    results.forEach(result => {
      const row = document.createElement('tr');
      const cellValue = document.createElement('td');
      const cellUnit = document.createElement('td');
      cellValue.innerText = result.value;
      cellUnit.innerText = `${result.unit} (${result.fullUnit})`;
      row.appendChild(cellValue);
      row.appendChild(cellUnit);
      resultTable.appendChild(row);
    });
  });
</script>

{% endblock %}