body {
  background-color: #a0a0a0; /* Kolor tła */
  background-size: cover; /* Dopasowanie obrazu do całej strony */
  background-repeat: no-repeat; /* Brak powtarzania obrazu */
  background-position: center; /* Wyśrodkowanie obrazu tła */
  box-sizing: border-box;
  overflow-x: hidden; /* Ukrycie poziomego przewijania */
}

html {
  overflow-x: hidden; /* Ukrycie poziomego przewijania */
}

.carousel-inner {
  height: 500px; /* Ustaw całkowitą wysokość karuzeli */
}

.carousel-item img {
  height: 500px; /* Ustaw wysokość obrazków */
  width: 100%;   /* Dopasuj szerokość obrazków do szerokości kontenera */
  object-fit: cover; 
}

.carousel-caption {
  position: absolute;
  bottom: 0; /* Umieść napisy na dole slajdu */
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85); /* Opcjonalne tło dla lepszej czytelności */
  color: white; /* Kolor tekstu */
  padding: 10px; /* Padding dla tekstu */
  height: 225px; /* Ustaw wysokość kontenera napisów */
  box-sizing: border-box; /* Upewnij się, że padding nie zmienia wysokości elementu */
}

.bd-placeholder-img {
  max-width: 100%;
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.container,
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
}

.d-flex {
  max-width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-lg-4 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

footer {
  position: relative;
  padding: 20px 0;
}

footer .row {
  justify-content: center;
  align-items: center;
}

footer .float-end {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

footer p {
  margin: 0;
}

.custom-btn-color {
  background-color: #a0a0a0; /* Twój niestandardowy kolor tła */
  color: #000000; /* Kolor tekstu */
  /* Dodatkowe style, takie jak margines, padding itp., jeśli są potrzebne */
}
.custom-btn-color:hover {
  background-color: #d1d1d1; /* Nowy kolor tła po najechaniu myszką */
  /* Dodatkowe style, takie jak zmiana koloru tekstu itp., jeśli są potrzebne */
}

.custom-background {
  background-color: #434343; /* Dodaj swój własny kolor tła */
  color: #ffffff; /* Kolor tekstu */
}

.custom-margin-bottom {
  margin-bottom: 5rem;
}

.custom-margin-top {
  margin-top: 10rem;
}

.custom-card-img-top{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-body {
  flex: 1 1 auto; /* To ensure the card body takes remaining space */
}
.card-content {
  flex: 1 1 auto; /* Aby treść karty zajmowała resztę dostępnego miejsca */
}
.card-footer {
  margin-top: auto; /* Aby stopka karty zawsze była na dole */
}